{
  "presets": [
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-flow"
  ],
  "plugins": [
    ["styled-components", { "pure": true, "ssr": true }],
    ["@babel/plugin-syntax-flow"],
    "@babel/plugin-transform-flow-strip-types"
  ]
}
